.availability {
	padding: 10px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	flex: 1;
	margin-inline: auto;
	overflow: hidden;
	max-width: 100%;
}

.schedule {
	display: block;
	overflow-x: auto;
	max-width: 100%;
	width: fit-content;
	scroll-margin-top: 20px;
	scroll-margin-bottom: 20px;
}

.calendar {
	display: grid;
	grid-template-columns: repeat(7, minmax(110px, 200px));
	gap: 0px;
	width: fit-content;
	margin: 0 auto;
}

.day {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px 5px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #f9f9f9;
	gap: 10px;
}

.day h3 {
	text-align: center;
	color: #333;
	font-size: 16px;
}

.day ul {
	list-style: none;
	padding: 0;
}

.day li {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	text-align: center;
}

.day li:last-child {
	border-bottom: none;
}

.booked {
	background-color: #ffcccc;
	color: #ff0000;
}

.free {
	background-color: #ccffcc;
	color: #008000;
}

.selected {
	background-color: #ffffcc;
	color: #ffcc00 !important;
}

.pagination {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.pagination button {
	padding: 5px 10px;
	background-color: var(--theme-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.pagination button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}
