:root {
	--background: #ffffff;
	--foreground: #353535;
	--theme-color: #460096;
	--neutral-color: #82afce;
	--fs-small: 16px;
	--fs-medium: 18px;
	--fs-large: 22px;
	--fs-xlarge: 26px;
	--fs-xxlarge: 30px;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body .dark {
	--background: #181818;
	--foreground: #ffffff;

	color: var(--foreground);
	background: var(--background);
}

body .light {
	--foreground: #353535;
	--background: #ffffff;

	color: var(--foreground);
	background: var(--background);
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.full-height {
	min-height: 100vh;
	background-color: red;
}

main {
	min-height: 80vh;
	display: grid;
}

@media screen and (max-width: 800px) {
	.hideOnMobile {
		display: none !important;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
